# Ignore backend sensitive files
backend/private.env
backend/*.pyc
backend/*.log
backend/.aws-sam
backend/samconfig.toml
backend/template.yaml

# Ignore frontend build files
frontend/node_modules/
frontend/build/

# General ignores
.DS_Store